<style>

            #main-title {
                color: #e0edee;
                font-size: 35px;
                font-family: Montserrat, sans-serif
            }
            
            body {
               font-size: 20px;
               font-family: Arial, sans-serif;
               color: #5c6b73
            }
            
            h3 {
                color: #253237
            }
            
            body {
                background-color: #e0edee
            }

            #subtitle {
                font-size: 15px;
                margin: 0;
            }
            
            .small-font {
                font-size: 12px;
            }
            
            .medium-font {
                font-size: 18px;
            }
            
            .big-font {
                font-size: 25px
            }

            .picture {
                border-radius: 80%;
            }

</style>