<style>

            #main-title {
                color: #e0edee;
                font-size: 35px;
                font-family: Montserrat, sans-serif
            }

            #container {
                width: 1000px;
                margin: auto;
            }
            
            body {               
               font-size: 20px;
               font-family: Arial, sans-serif;
               color: #5c6b73                                            
            }
            
            h3 {
                color: #253237
            }
            
            body {
                background-color: #e0edee
            }

            #subtitle {
                font-size: 15px;
                margin: 0;
            }            
            
            #picture {
                position: absolute;
                top: 250px;
                left: 100px;                            
            }

            #descrip {
                width: 60%;
                float: right;
                position: absolute;
                top: 250px;
                left: 400px;
            }

            header {
                
            }



</style>