
#container {
    margin: auto;                
    border: 1px solid #253237;
}

.descricao {
    background-color: #f6f7f8;
    color: #011627;                
    padding: 100px 100px;
}

.nav {
    padding: 20px;
    background-color: #2ec4b6;
    margin-block-start: 0;
}

#info {
    float: right;
    position: relative;
    right: 300px;
}

#main-title {
    padding: 20px;
    text-align: center;
    background-color: #011627;
    color: #2ec4b6;
    font-size: 45px;
    font-family: Montserrat, sans-serif                    
}            

body {               
    font-size: 20px;
    font-family: Arial, sans-serif;
    background-color: #011627;
    color: #f6f7f8;                                                            
}                      

#picture {                                
    text-align: center;                
    position: relative;                                
}

#fotocircular {
    border-radius: 50%;
}

#descrip {
    margin-top: -10px;                                
    float: right;
    position: relative;                
    right: 300px;
    margin-bottom: 50px;    
}

p.margin {
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.clear {
    clear: both;
}

.habilidades {
    padding: 20px;
    text-align: center;
    background-color: #ff3366;
    color: #f6f7f8;
}

.blogs {
    padding: 20px;
    text-align: center;
    background-color: #f6f7f8;
    color: #011627;
}

.saibamais {
    padding: 20px;
    text-align: center;
    background-color: #20a4f3;
    color: #f6f7f8;
}





